


{% extends "video/base.html" %}
{% load i18n %}

{% block title %}直播{% endblock %}
{% block card %}{% endblock %}
{% block content %}
    <div id="video-container" style="margin: 50px auto;">
    </div>
    <!--Polyfill-->
    <!--[if lt IE 9]>
    <script src="https://imgcache.qq.com/open/qcloud/video/vcplayer/libs/es5-shim.js"></script>
    <script src="https://imgcache.qq.com/open/qcloud/video/vcplayer/libs/es5-sham.js"></script>
    <![endif]-->
    <script src="https://imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer-2.3.2.js"></script>
    <script>
        (function () {
            function getParams(name) {
                var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');

                var r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return decodeURIComponent(r[2]);
                }
                return null;
            }

            function getPathParams() {
                var path = location.pathname.split('/');
                if (path[1] == 'vod-player') {
                    return {
                        'path': location.origin + path.slice(0, 4).join('/'),
                        'appid': path[2],
                        'fileid': path[3]
                    }
                } else {
                    return null;
                }
            }

            var rtmp = getParams('rtmp'),
                flv = getParams('flv'),
                m3u8 = getParams('m3u8'),
                mp4 = getParams('mp4'),
                live = (getParams('live') == 'true' ? true : false),
                coverpic = getParams('coverpic'),
                width = getParams('width'),
                height = getParams('height'),
                volume = getParams('volume'),
                flash = (getParams('flash') == 'true' ? true : false),
                x5_player = (getParams('x5_player') == 'false' ? false : true),
                h5_flv = (getParams('h5_flv') == 'true' ? true : false),
                autoplay = (getParams('autoplay') == 'true' ? true : false),
                flashUrl = (function () {
                    var params = getPathParams();
                    if (params) {
                        return params.path + '/player/release/QCPlayer.swf';
                    }
                    return '//imgcache.qq.com/open/qcloud/video/player/release/QCPlayer.swf'
                })(),
                log = getParams('log');
            /**
             * 视频类型播放优先级
             * mobile ：m3u8>mp4
             * PC ：RTMP>flv>m3u8>mp4
             */

            var options = {
                m3u8: 'http://test.menguoli.com/live/liveFirst.m3u8',
                autoplay: autoplay,
                live: live,
                width: width || '980',
                height: height || '620',
                volume: volume || 0.5,
                flash: flash,
                flashUrl: flashUrl,
                x5_player: x5_player,
                h5_flv: h5_flv,
                wording: {
                    2032: '请求视频失败，请检查网络',
                    2048: '请求m3u8文件失败，可能是网络错误或者跨域问题'
                },
                listener: function (msg) {
                    if (msg.type == 'load') {
                        var _div = document.createElement('div');
                        _div.className = 'marker';
                        {#_div.innerText = '测试';#}
                        document.querySelector('.vcp-player').appendChild(_div)
                    }
                }
            };
            window.tcplayer = new TcPlayer('video-container', options);

        })();
    </script>


{% endblock %}
{% block download %}{% endblock %}

